body {
    /*background: blue;*/
}

.my-text {
    font-weight: bold;
    font-size: 200%;
    color: white;
    -webkit-text-stroke: 1px black;
}

.box{
    /*height: 400px;*/
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

#myChart {
    /*height: 400px;*/
    /*width: 400px;*/
}
